body{
    background: url(https://i.imgur.com/b9r5sEL.jpg) center;
}
.keys{
    display: flex;
    justify-content: space-around;
    margin: 25%;
    text-align: center;
}
.key{
    border: black 5px solid;
    padding: .5rem 2.5rem;
    margin: 5%;
    width: 10rem;
    border-radius: 5px;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all .07s;
}
.sound{
    color: yellow;
    font-size: 1rem;
    padding-top: 20px;
}
.kbd{
    background-color: rgba(255, 0, 0, 0);
}
.playing{
    border: yellow 4px solid;
    box-shadow: yellow 0 0 1rem;
    transform: scale(1.1);
}
